.flashy {
  color: red;
  font-style: italic;
}

.best {
  color: gold;
  font-size: 30px;
  font-family: cursive;
  background-color: red;
  height:400px;
}

.imagesize{

  height: 300px;
  width: 300px;
}
